<%
    var categories = [];
    page.categories.forEach(function(category){
        categories.push('<a class="text-white" href="' + url_for(category.path) + '">' + category.name + '</a>');
    });
%>

<%- categories.join('/ ') %>
