<% if (page.prev || page.next) { %>
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        <ul class="pagination d-block text-center">
            <% if (page.prev){ %>
                <li class="previous page-item d-inline"><a href="<%- url_for(page.prev.path) %>" class="page-link float-left">&larr;  <%- __('next')%></a></li>
            <% } %>
            <% if (page.next){ %>
                <li class="next page-item d-inline"><a href="<%- url_for(page.next.path) %>" class="page-link float-right"><%- __('prev')%>  &rarr;</a></li>
            <% } %>
        </ul>
    </div>
<% } %>