<% if (tag.name == page.tag) { %>
    <a href="<%- url_for(tag.path) %>" class="btn btn-info m-2">
        <%- tag.name || "Untitled" %>
    </a>
<% } else { %>
    <a href="<%- url_for(tag.path) %>" class="btn btn-outline-dark m-2">
        <%- tag.name || "Untitled" %>
    </a>
<% } %>
