<% if (theme.toc) { %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.css">
    <style>
        #toc-content .toc-link::before {
            background-color: transparent;
            max-height: 25px;
        }

        #toc-content .toc-link.is-active-link::before {
            background-color: #404040;
        }
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>
    <div class="ui-toc dropup scrollspy-body pull-right" style="right: 3%;">
        <button type="button" class="toc-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
            <i class="fas fa-list"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right p-2"  aria-labelledby="tocLabel">
            <div class="toc-widget">
                <div id="toc-content" class="text-truncate">
                </div>
            </div>
            <div class="toc-menu pt-3 pl-4">
                <a class="expand-toggle d-block text-muted py-1" href="#!"><span class="expand-text"><%- __('expandAll')%></span><span class="close-text" style="display: none;"><%- __('reexpandAll')%></span></a>
                <a class="back-to-top d-block text-muted py-1" href="#nav"><%- __('b2t')%></a>
                <a class="go-to-bottom d-block text-muted py-1" href="#footer"><%- __('g2b')%></a>
            </div>
        </div>
    </div>
    <script>
        tocbot.init({
            // Where to render the table of contents.
            tocSelector: '#toc-content',
            // Where to grab the headings to build the table of contents.
            contentSelector: 'article',
            // Which headings to grab inside of the contentSelector element.
            headingSelector: 'h1, h2, h3',
            // For headings inside relative or absolute positioned containers within content.
            hasInnerContainers: true,
        });
    </script>
<% } %>