/*
 * mobile.styl
 */

/* mobile */
@media screen and (max-width: 768px) {

    .intro-header {
        .site-heading {
            padding: 100px 0 50px;

            h1 {
                font-size: 50px;
            }
        }

        .post-heading {
            padding: 100px 0 50px;

            h1 {
                font-size: 35px;
            }
            .subheading {
                font-size: 24px;
            }
        }
    }

    .post-preview { 
        > a {
            > .post-title {
                font-size: 30px;
            }
        }
    }

    .table-responsive table.table {
        width: 100% !important;
    }

    .archives-filter-group {
        width: 100%;
    }

    .archives-filter-all {
        margin-top: 1rem;
    }
}
