/*
 * component.styl
 */

.fa-stack-1x, .fa-stack-2x {
    bottom: 0;
}

/* button */
.btn  {
    sans-serif();
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 15px 25px;
}

.btn-lg {
    font-size: 16px;
    padding: 25px 35px;
}

.btn-default {
    &:hover, &:focus {
        background-color: brand-primary;
        border: 1px solid brand-primary;
        color: white;
    }
}

.caption {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-style: italic;
    margin: 0;
    display: block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
