<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top bg-transparent position-absolute w-100 p-0" id="nav">
    <div class="container pl-0 pr-0">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <a class="navbar-brand text-white p-1 pl-3" href="<%- url_for('/') %>"><%- theme.menu_title || config.title || "" %></a>
        </div>
        <div class="navbar-nav float-right">
            <button class="btn btn-link search-btn navbar-item" data-toggle="modal" data-target="#searchModal">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <!-- /.container -->
</nav>