/*
 * widget.styl
 */

@import "search";

/* tags */
@import "card";
@import "alert";
@import "details";

/* pages */
@import "pagination";
@import "toc";
@import "tag-category-item"

/* comment */
@import "gitalk";