/*
 * categories.styl
 */

.page-categories {
    .category-preview-hr {
        hr-bold();
    }

    .btn {
        text-transform: unset;
        letter-spacing: 0;
    }

    .post-preview {
        a {
            .post-title {
                font-size: 25px;
            }
        }

        .post-meta {
            color: gray;
            font-size: 18px;
            font-style: italic;
            margin-top: 0;

            > a {
                text-decoration: none;
                color: gray-dark;

                &:hover, &:focus {
                    color: brand-primary;
                    text-decoration: underline;
                }
            }
        }
    }
}