/*
 * post-tags.styl
 */

.post-tags {
    font-size 15px
    margin-top 30px
    margin-bottom 30px
    
    a {
        border-bottom 1px dotted #ABABAB
        margin-right 10px
        
        &:hover, &:visited, &:active {
            text-decoration none
            border-bottom none
        }
    }
}
