/*
 * post-tags.styl
 */

.post-tags  {
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: color-meta;
    
    a {
        border-bottom: 1px dotted #ABABAB;
        margin-right: 10px;
        
        &:hover, &:visited, &:active {
            text-decoration: none;
            border-bottom: none;
        }
    }
}

.meta  {
    font-size: 15px;
    margin-bottom: 30px;
    color: color-meta;
    
    a {
        color: color-meta;
        border-bottom: 1px dotted #ABABAB;
        
        &:hover, &:visited, &:active {
            text-decoration: none;
            border-bottom: none;
        }
    }

    .post-meta-split {
        color: color-border;
        font-size: 10px;
        vertical-align: text-top;
    }
}